.summary{
    position: sticky;
    top: 0;
    height: 100vh;
}
.preview-btn{
    width: 100%;
    margin-top: 10px;
    padding: 6px 4px;
    border : 1px solid #ccc;
    font-weight: bold;
}
.preview-btn:hover{
    color: rgb(244 63 94);
    border: 1px solid rgb(244 63 94);
    transition: 0.3s ease-in;
}